@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
$primary: #4d46fa;
$bgGray: #e5e5e5;
$secondary: #f06336;
$font: 'Poppins', sans-serif;
$danger: #dc3545;
$text-primary: #000;
$font-family: 'Raleway', sans-serif;
$a: rgba(255, 255, 255, 0.9);
